.headerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  border-radius: 10px;
  padding-bottom: 25px;
  margin-bottom: 10px;
  background: #fffaf2;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
}
