.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  background: #fffaf2;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 50px 0;
}
.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}
.requiredStyle {
  color: #c47344;
  font-size: 10px;
  margin-left: 8px;
}
.buttonWrapper {
  width: 900px;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.buttonLogin {
  background: #c47344;
}
.errorMessage {
  color: #c47344;
  margin-bottom: 6px;
}
