.boardWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fffaf2;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin: 8px;
  padding: 30px;
}
.column {
  width: 100px;
  height: 300px;
  background-color: pink;
}
.columnsWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.boardTitle {
  margin: 0;
  padding: 0;
  font-size: 30px;
}
.addColumnButton {
  width: 270px;
  height: 55px;
  background: #f9a38f;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 5px;
}
.addColumnButton:hover {
  background: #f9a28fb6;
}
.boardHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.joinButton {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0px 5px;
}
.joinButton:hover {
  background: #f9a28fb6;
}
