.boardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  background: #fffaf2;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin: 8px;
  padding: 30px;
  position: relative;
}
.column {
  width: 100px;
  height: 300px;
  background-color: pink;
}
.columnsWrapper {
  display: flex;
  flex-wrap: wrap;
}
