.contentWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.divBoards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.addBoardButton {
  width: 60px;
  height: 55px;
  background: #f9a38f;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 5px;
}
.addBoardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navMenu {
  background: #fffaf2;
  width: 320px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin: 10px 0;
}
.listOfBoards {
  list-style: none;
  padding: 0;
  margin: 0;
}
.boardItem {
  background: white;
  padding: 10px;
  margin: 2px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
.joinCircle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f9a38f;
}
