.headerText {
  margin: 25px 0;
}
.headerButton {
  background: #c47344;
  margin-bottom: 20px;
}
.boardsWrapper {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
