.navBar {
  background: #fffaf2;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.headerTitle {
  margin: 4px;
  padding: 0;
  font-size: 40px;
}
.headerTitle:hover {
  color: #fd5656;
  font-size: 45px;
}
.sideBarButton {
  width: 135px;
  height: 48px;
  background: #f9a38f;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 3px;
}
.sideBarButton:hover {
  background: #f9a28fb6;
}
